# MongoDB Configuration
MONGO_USER=root
MONGO_PASSWORD=password
MONGO_DB=ecommerce

# Backend Configuration
PORT=3000
JWT_SECRET=super-secret-key
JWT_REFRESH_SECRET=super-refresh-secret-key
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret
FRONTEND_URL=http://localhost:5173

# Frontend Configuration
VITE_STRIPE_PUBLIC_KEY=your_stripe_public_key
VITE_API_URL=http://localhost:3000
